@model HavaYoluOtomasyonu.Models.RegisterViewModel
@{
    ViewData["Title"] = "Kayıt Ol";
}

<h2>Kayıt Ol</h2>
<form asp-action="Register" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label asp-for="FirstName" class="form-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label asp-for="LastName" class="form-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="PassportNumber" class="form-label"></label>
        <input asp-for="PassportNumber" class="form-control" />
        <span asp-validation-for="PassportNumber" class="text-danger"></span>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label asp-for="Phone" class="form-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label asp-for="DateOfBirth" class="form-label"></label>
                <input asp-for="DateOfBirth" class="form-control" type="date" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-thy">Kayıt Ol ve Giriş Yap</button>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
