@model HavaYoluOtomasyonu.Models.Staff

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Staff</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="HireDate" class="control-label"></label>
                <input asp-for="HireDate" class="form-control" />
                <span asp-validation-for="HireDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RoleId" class="control-label"></label>
                <input asp-for="RoleId" class="form-control" />
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EmploymentStatus" class="control-label"></label>
                <input asp-for="EmploymentStatus" class="form-control" />
                <span asp-validation-for="EmploymentStatus" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Bookings" class="control-label"></label>
                <input asp-for="Bookings" class="form-control" />
                <span asp-validation-for="Bookings" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FlightCrews" class="control-label"></label>
                <input asp-for="FlightCrews" class="form-control" />
                <span asp-validation-for="FlightCrews" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MaintenanceLogs" class="control-label"></label>
                <input asp-for="MaintenanceLogs" class="form-control" />
                <span asp-validation-for="MaintenanceLogs" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <input asp-for="Role" class="form-control" />
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TechnicalCertifications" class="control-label"></label>
                <input asp-for="TechnicalCertifications" class="form-control" />
                <span asp-validation-for="TechnicalCertifications" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
